<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MID</title>
</head>
<body>

<div th:switch="${tasks}">
    <h2 th:case="null">No Tasks Yet!</h2>
    <div th:case="*">
        <h2>Tasks</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Priority</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Due Date</th>
                <th>Category</th>
                <th>Status</th>
                <th>Mother Task</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${tasks}">
                <td th:text="${task.name}"></td>
                <td th:text="${task.priority}"></td>
                <td th:text="${task.startDate}"></td>
                <td th:text="${task.endDate}"></td>
                <td th:text="${task.dueDate}"></td>
                <td th:text="${task.catergory}"></td>
                <td th:text="${task.status}"></td>
                <td th:text="${task.motherTaskID}"></td>
                <td><a th:href="@{/delete/{id}(id=${task.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<p><a href="/addtask">Add a new task</a></p>
</body>
</html>